<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <title>Hello World</title>
</head>
<body>

<form action="/changeSessionLanauage" method="get">
    <input name="lang" type="hidden" value="zh"  />
    <button>Tiếng Tàu</button>
</form>

<form action="/changeSessionLanauage" method="get">
    <input name="lang" type="hidden" value="en" />
    <button>Tiếng Anh</button>
</form>
<form action="/changeSessionLanauage" method="get">
    <input name="lang" type="hidden" value="vn" />
    <button>Tiếng Việt</button>
</form>

<p><label th:text="#{welcome}"></label></p>
</body>
</html>